 
*{
    margin: 0;
    padding: 0;
} 
body {
    background-color: #F5F4F0;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    font-weight: bold;
}

.headline {
    font-weight: bold;
    color: #E1624F;
    margin-bottom: 8px;
    font-weight: bold;
}

p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: normal;
}

.subtitle {
    font-size: 16px;
    font-style: italic;
    text-align: center;
}
img {
    border-radius: 16px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px; 
}

.divider { 
    width: 100%;
    height: 1px;
    margin: 36px auto;
    background-color: #d9d9d9;

}
.blue { 
    font-weight: bold;
    color: #0C51A7;
}
.orange{
    font-weight: bold;
    color: #E95E10;
}
.pink{
    font-weight: bold;
    color: #E5245E;
}

ul {
    font-weight: bold;
    list-style-position: outside; /* Garante que os marcadores fiquem do lado de fora */

}
ol {
    list-style-type: decimal; /* Define a numeração para listas ordenadas */
    padding-left: 20px; /* Adiciona espaço para o número */
    list-style-position: inside; /* Mantém o marcador dentro se necessário */
}


ul li::marker{
    color: #333333;
}
ul li {
    list-style-type: disc; /* Garante que os itens da lista mantenham o estilo de círculo */
    margin-left: 20px;

}
ol li {
    font-weight: bold;
    
}

.bold{
    font-weight: bold;
}

.description{
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}
footer {
    margin: 80px;
    text-align: center;
}

footer img {
    width: 16px;
    vertical-align: middle;
    margin-bottom: 40px;
}

#page { 
    padding: 80px 88px;
}

#titleList{
    margin-top: 54px;
}